.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: auto 8fr auto;
    grid-template-areas: 'navbar navbar navbar' '. main .';
    grid-gap: 2px;
    height: 100%;
    background: #EEEEEE;
}

a:hover { color: #2C303C; }

.navbar {
    display: grid;
    grid-area: navbar;
    grid-template-areas: 'header';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.loginInput {
    align-self: center;
    justify-self: center;
    height: 40px;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.loginBtn {
    align-self: center;

    justify-self: center;
    height: 40px;
    background: #2C303C;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.loginBtn:hover {
    background: #5C9EAD;
    border-color: #5C9EAD;
    color: white;
}

@media only screen and (max-width: 480px) {
    .container {
        grid-template-columns:auto;
        grid-template-areas: 'navbar' 'main';
    }

    .navbar {
        grid-template-columns:auto;
        grid-template-areas: 'header sysinfo';
    }

    .main {
        display: grid;
        grid-template-areas:
                'usernameInput passwordInput'
                'loginBtn loginBtn';
        grid-template-rows: 1fr 1fr;
    }

    .usernameInput {
        grid-area: usernameInput;
    }

    .passwordInput {
        grid-area: passwordInput;
    }

    .loginBtn {
        grid-area: loginBtn;
        width: 50%;
    }
}